In [11]:
#import libraries 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
#looking at data
df = pd.read_csv("Animal Dataset.csv")
df.head(10)

,Animal,Height (cm),Weight (kg),Color,Lifespan (years),Diet,Habitat,Predators,Average Speed (km/h),Countries Found,Conservation Status,Family,Gestation Period (days),Top Speed (km/h),Social Structure,Offspring per Birth
0,Aardvark,105-130,40-65,Grey,20-30,Insectivore,"Savannas, Grasslands","Lions, Hyenas",40,Africa,Least Concern,Orycteropodidae,210-240,40,Solitary,1
1,Aardwolf,40-50,8-14,Yellow-brown,10-12,Insectivore,"Grasslands, Savannas","Lions, Leopards",24-30,Eastern and Southern Africa,Least Concern,Hyaenidae,90,40,Solitary,2-5
2,African Elephant,270-310,2700-6000,Grey,60-70,Herbivore,"Savannah, Forest","Lions, Hyenas",25,Africa,Vulnerable,Elephantidae,640-660,40,Herd-based,1
3,African Lion,80-110,120-250,Tan,10-14,Carnivore,"Grasslands, Savannas","Hyenas, Crocodiles",58,Africa,Vulnerable,Felidae,98-105,80,Group-based,2-4 (usually)
4,African Wild Dog,75-80,18-36,Multicolored,10-12,Carnivore,Savannahs,"Lions, Hyenas",56,Sub-Saharan Africa,Endangered,Canidae,70,56,Group-based,10-12
5,Alpine Ibex,67-101,19-120,Brown,15-20,Herbivore,"Mountains, Alpine","Wolves, Golden Eagles",56-64,European Alps,Least Concern,Bovidae,150,56-64,Group-based,1
6,Amazon Rainforest Frog,2-13,Up to 0.5,Various,4-17,Insectivore,Amazon Rainforest,"Birds, Snakes",0.1-1,Amazon Rainforest,Not Evaluated,Dendrobatidae,10-15,0.8,Solitary,Up to 40
7,American Bison,152-186,"318-1,000",Brown,15-20,Herbivore,"Grasslands, Plains","Wolves, Grizzly Bears",40-56,North America,Near Threatened,Bovidae,270-290,56,Group-based,1
8,Anteater,52-91,22-41,"Brown, White",15-20,Insectivore,"Grasslands, Forests","Jaguars, Pumas",24,Central and South America,Least Concern,Myrmecophagidae,190-210,24,Solitary,1
9,Arabian Horse,140-160,380-1000,Various,25-30,Herbivore,"Middle East, North Africa","Humans, Predators",65,"Middle East, North Africa",Not Applicable,Equidae,330-342,65,Herd-based,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Animal                   205 non-null    object
 1   Height (cm)              205 non-null    object
 2   Weight (kg)              205 non-null    object
 3   Color                    205 non-null    object
 4   Lifespan (years)         205 non-null    object
 5   Diet                     205 non-null    object
 6   Habitat                  205 non-null    object
 7   Predators                205 non-null    object
 8   Average Speed (km/h)     205 non-null    object
 9   Countries Found          205 non-null    object
 10  Conservation Status      205 non-null    object
 11  Family                   205 non-null    object
 12  Gestation Period (days)  205 non-null    object
 13  Top Speed (km/h)         205 non-null    object
 14  Social Structure         205 non-null    object
 15  Offspring per Birth      205 non-null    object
dtypes: object(16)
memory usage: 25.8+ KB

In [4]:
df.shape

(205, 16)

In [14]:
#count nas per col 
nas= df.isna().sum()
nas

Animal                      0
Height (cm)                 3
Weight (kg)                 3
Color                       0
Lifespan (years)            6
Diet                        0
Habitat                     0
Predators                   0
Average Speed (km/h)       26
Countries Found             0
Conservation Status         0
Family                      0
Gestation Period (days)    19
Top Speed (km/h)            0
Social Structure            0
Offspring per Birth        29
dtype: int64

In [17]:
#drop the nas, but this also removes 29 animals - bias
df.dropna(subset=['Gestation Period (days)','Offspring per Birth'], inplace=True)

In [6]:
#because some columns like offspring per birth 
#and gestation period have ranges I will take the higher end

In [18]:

gsp = df["Gestation Period (days)"]
df["Gestation Period (days)"] = gsp.str.extract(r'(\d+)')

lifespan = df["Lifespan (years)"]
df["Lifespan (years)"] = lifespan.str.extract(r'(\d+)')


offspring = df["Offspring per Birth"]
df["Offspring per Birth"] = offspring.str.extract(r'(\d+)') 

df.head()

,Animal,Height (cm),Weight (kg),Color,Lifespan (years),Diet,Habitat,Predators,Average Speed (km/h),Countries Found,Conservation Status,Family,Gestation Period (days),Top Speed (km/h),Social Structure,Offspring per Birth
0,Aardvark,105,40,Grey,20,Insectivore,"Savannas, Grasslands","Lions, Hyenas",40,Africa,Least Concern,Orycteropodidae,210,40,Solitary,1
1,Aardwolf,40,8,Yellow-brown,10,Insectivore,"Grasslands, Savannas","Lions, Leopards",24,Eastern and Southern Africa,Least Concern,Hyaenidae,90,40,Solitary,2
2,African Elephant,270,2700,Grey,60,Herbivore,"Savannah, Forest","Lions, Hyenas",25,Africa,Vulnerable,Elephantidae,640,40,Herd-based,1
3,African Lion,80,120,Tan,10,Carnivore,"Grasslands, Savannas","Hyenas, Crocodiles",58,Africa,Vulnerable,Felidae,98,80,Group-based,2
4,African Wild Dog,75,18,Multicolored,10,Carnivore,Savannahs,"Lions, Hyenas",56,Sub-Saharan Africa,Endangered,Canidae,70,56,Group-based,10

In [20]:
df["Gestation Period (days)"] = df["Gestation Period (days)"].astype(int)
df["Offspring per Birth"] = df["Offspring per Birth"].astype(int)
df["Lifespan (years)"] = df["Lifespan (years)"].astype(int)